import(Matrix)

export(speedglm, speedlm, speedlm.fit, speedlm.wfit, update.speedlm,
       shglm, speedglm.wfit, is.sparse, cp, control)

S3method(summary,speedglm)
S3method(print,speedglm)
S3method(print,summary.speedglm)
S3method(AIC,speedglm)
S3method(coef,speedglm)
S3method(vcov,speedglm)
S3method(logLik,speedglm)
S3method(summary,speedlm)
S3method(print,speedlm)
S3method(print,summary.speedlm)
S3method(print,logLik.speedlm)
S3method(AIC,speedlm)
S3method(coef,speedlm)
S3method(vcov,speedlm)
S3method(logLik,speedlm)

